<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Spring Security Example</title>
</head>
<body>
    <h1>Welcome to Index PAGE!</h1>
    <ul>
        <li sec:authorize="isAuthenticated()">Wellcome, <span sec:authentication="name"></span></li>
        <li sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Logout</a></li>
        <li><a class="nav-link" th:href="@{/user}">User Home</a></li>
        <li><a class="nav-link" th:href="@{/admin/admin}">Admin Home</a></li>
    </ul>
</body>
</html>